<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>New Message</title>
</head>
<body>
    <form class="message-form" method="POST" action="/new">
        <label for="userName">User Name:</label>
        <input type="text" id="userName" name="userName">
        <label for="userMessage">Message</label>
        <input type="text" id="userMessage" name="userMessage">
        <button type="submit">Post</button>
        put your inputs and buttons in here!
     </form>
</body>
</html>