<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages Home</title>
</head>
<body>
    <div>
        <ul>
            <% for (let i = 0; i < messages.length; i++ ) { %>
                <div>
                    <li>User: <%= messages[i].userName %></li>
                    <li>Message: <%= messages[i].userMessage %> </li>
                </div>
            <% } %>
        </ul>
    </div>
    <a href="/new" class="button">New Message</a>
</body>
</html>